@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 31%);
  margin: 0;
}

.bg-coffee-pattern {
  background-image: url('/images/img-15.jpg'); /* Updated path */
  background-repeat: repeat;
  background-size: 250px;
  opacity: 0.04;
  position: fixed;
  inset: 0;
  z-index: -1;
}